* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff; /* Set background color to white */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff; /* Set background color to white */
  color: #333; /* Change text color to dark for contrast */
}

.logo {
  font-size: 1.5em;
}

nav {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.menu {
  list-style: none;
  display: flex; /* Ensure menu is displayed in desktop mode */
  gap: 20px;
  background-color: #fff; /* Set background color to white */
}

.menu li a {
  color: #333; /* Change text color to dark for contrast */
  text-decoration: none;
  padding: 5px 10px;
  transition: border 0.3s, background-color 0.3s;
}

.menu li a:hover {
  background-color: #dcd4d4; /* Light gray for hover effect */
  color: #000; /* Change text color to black on hover */
}

.menu li a.active {
  border-bottom: 2px solid #000; /* Black bottom border when active */
  color: #000; /* Change text color to black when active */
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

.content {
  display: none; /* Hide all sections by default */
}

.content:target {
  display: block; /* Show the targeted section */
}

main {
  padding: 20px;
  background-color: #fff; /* Set background color to white */
  color: #333;
}

@media (max-width: 768px) {
  .menu {
    display: none; /* Hide menu in mobile mode */
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff; /* Set background color to white */
    width: 100%;
  }

  .menu li {
    text-align: center;
    padding: 10px 0;
  }

  .menu-toggle:checked + .menu-icon + nav .menu {
    display: flex; /* Show menu when toggle is checked */
  }

  .menu-icon {
    display: inline;
    position: absolute;
    right: 20px; /* Align menu icon to the right */
  }
}